<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <base th:href="${#request.getContextPath()}+'/'">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>自媒体盈利平台</title>
    <meta property="qc:admins" content="4441727777670263757">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/style-metronic.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/jquery.fancybox.css">
    <!--[if IE 8]>
    <script type="text/javascript" src="js/respond.min.js"></script>
    <![endif]-->
    <script>
        var SITE_PUBLIC = '/';
        var SITE_UPLOAD = '/files/';
    </script>
</head>
<body>
<div th:each="sk,item:${sku}">
    <style>
        .good-info {
            padding: 20px;
        }

        .good-info .row {
            padding: 10px 0;
            border-bottom: 1px solid #e8e8eb;
        }

        .info-title {
            font-weight: bold;
            color: #666666;
            width: 150px;
        }

        .add-area .form-control {
            width: 200px;
            margin-right: 10px;
            display: inline;
        }

        .link-url-wrap .form-control {
            width: 550px;
            display: inline-block;
        }

        .link-title {
            width: 100px;
            text-align: right;
            float: left;
        }

        .link-content {
            float: left;
            width: 650px;
        }

        .link-title, .link-content {
            margin-bottom: 1px;
            min-height: 34px;
            line-height: 34px;
        }
    </style>
    <h2 class="page-title">
        <em th:text="${sk['goodsName']}" id="goodsName" name="goodsName" th:value="${sk['goodsName']}">444</em>
        <a class="btn btn-yellow"
           th:onclick="lorder([[${sk.skuId}]],[[${sk.goodsName}]],[[${sk.goodsPic1}]],[[${sk.skuPrice}]]);"
           target="_blank">录单</a>
    </h2>
    <div class="good-info">
        <div class="row">
            <div class="col-xs-2 info-title">商户信息</div>
            <div class="col-xs-10 info-detail">
                商户：<em class="highlight-em" th:text="${sk['customerName']}"> qq123456 </em>， 联系QQ：
                <em class="highlight-em" th:text="${sk['qq']}"> 123456 </em>(工作时间联系)
            </div>
        </div>
        <div class="row">
            <div class="col-xs-2 info-title" th:text="${sk['promoteDesc']}">推广说明</div>
            <div class="col-xs-10 info-detail">2</div>
        </div>
        <div class="row">
            <div class="col-xs-2 info-title">商品图片</div>
            <div class="col-xs-10 info-detail">
                <div class="item" style="display:table;margin-bottom:0px;width:125px;height:116px;float:left;">
                    <a th:href="${sk['goodsPic1']}" title="" data-rel="fancybox-button" class="fancybox-button">
                        <div class="zoom">
                            <p style="text-align: center">默认尺寸</p>
                            <img id="goodsPic1" th:src="${sk['goodsPic1']}" style="width:125px;height:85px;" alt="">
                            <div class="zoom-icon"></div>
                        </div>
                    </a>
                </div>
                <div class="item"
                     style="margin-left:20px;display:table;margin-bottom:0px;width:125px;height:71px;float:left;">
                    <a th:href="${sk['goodsPic2']}" title="" data-rel="fancybox-button" class="fancybox-button">
                        <div class="zoom">
                            <p style="text-align: center">640*200</p>
                            <img th:src="${sk['goodsPic2']}" style="width:125px;height:39px;" alt="">
                            <div class="zoom-icon"></div>
                        </div>
                    </a>
                </div>
                <div class="item"
                     style="margin-left:20px;display:table;margin-bottom:0px;width:125px;height:71px;float:left;">
                    <a th:href="${sk['goodsPic3']}" title="" data-rel="fancybox-button" class="fancybox-button">
                        <div class="zoom">
                            <p style="text-align: center">640*200</p>
                            <img th:src="${sk['goodsPic3']}" style="width:125px;height:39px;" alt="">
                            <div class="zoom-icon"></div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-2 info-title">商品SKU</div>
            <div class="col-xs-10 info-detail">
                <table class="table table-cps table-hover  table-advance">
                    <thead>
                    <tr>
                        <th>销售SKU</th>
                        <th>价格（元）</th>
                        <th>分成（元）</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr></tr>
                    <tr></tr>
                    <tr>
                        <td>1</td>
                        <td id="skuPrice" class="text-yellow" th:text="${sk['skuPrice']}">1</td>
                        <td class="text-green" th:text="${sk['skuPmoney']}">1</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-2 info-title">设置推广渠道</div>
            <div class="col-xs-10 info-detail">
                <div class="add-area">
                    <select class="form-control" id="CH">
                        <option value="" rev="cGIxbjNyeWEtMDM0NTI0MTQ=">不设置渠道</option>
                        <option value="33" rev="cGIxbjNyeWEtMDM0NTI0MTQtMzM=">基本原则</option>
                        <option value="35" rev="cGIxbjNyeWEtMDM0NTI0MTQtMzU=">基本原则</option>
                        <option value="36" rev="cGIxbjNyeWEtMDM0NTI0MTQtMzY=">基本原则</option>
                        <option value="37" rev="cGIxbjNyeWEtMDM0NTI0MTQtMzc=">4214</option>
                    </select>
                    <span style="margin-left: 100px;">新增渠道：</span>
                    <input type="text" id="acName" maxlength="40" placeholder="渠道名称" class="ac-name form-control">
                    <span id="addChn" class="btn btn-yellow">确定</span>
                </div>
                <div class="tips-style">
                    <i class="fa fa-info-circle"></i>
                    可选项，设置推广渠道后可按推广渠道统计订单，以分析或对比渠道的推广效果
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-2 info-title">
            一键分享推广
        </div>
        <div class="col-xs-10 info-detail link-url-wrap">
            <div class="link-title">选择推广链接：</div>
            <div class="link-content">
                <!-- JiaThis Button BEGIN -->
                <div class="jiathis_style_24x24">
                    <a class="jiathis_button_qzone"></a>
                    <a class="jiathis_button_tsina"></a>
                    <a class="jiathis_button_tqq"></a>
                    <a class="jiathis_button_weixin"></a>
                    <a class="jiathis_button_renren"></a>
                    <a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jtico jtico_jiathis"
                       target="_blank"></a>
                    <a class="jiathis_counter_style"></a>
                </div>
                <script type="text/javascript">
                    var spcInfo = "1";
                    var jiathis_config;
                    if (spcInfo == '' || spcInfo == '1') {
                        jiathis_config = {
                            url: "http://115.29.207.161:8080/buy/0/cGIxbjNyeWEtMDM0NTI0MTQ=",
                            summary: "444",
                            title: "2",
                            pic: "img/pb1n3rya_1.jpg",
                            shortUrl: false,
                            hideMore: false
                        }
                    } else {
                        jiathis_config = {
                            url: "http://115.29.207.161:8080/spc//2/cGIxbjNyeWEtMDM0NTI0MTQ=",
                            summary: "444",
                            title: "2",
                            pic: "img/pb1n3rya_1.jpg",
                            shortUrl: false,
                            hideMore: false
                        }
                    }

                </script>
                <script type="text/javascript" src="js/jia.js" charset="utf-8"></script>
                <!-- JiaThis Button END -->
            </div>
        </div>
    </div>

    <div class="notice-info">
        <p><strong>说明提示:</strong></p>
        <p>1、可根据情况设置渠道参数（直接在此页面新增渠道即可）来统计分析不同渠道的<em>推广效果</em>；</p>
        <p>2、建议您<em>将公众号设为渠道</em>，方便查看推广效果；</p>
    </div>
</div>

<script type="text/javascript" src="js/jquery-3.1.1.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/underscore-min.js"></script>
<script type="text/javascript" src="js/back-to-top.js"></script>
<script type="text/javascript" src="js/jquery.cookie.min.js"></script>
<script type="text/javascript" src="js/win.js"></script>
<script type="text/javascript" src="js/jquery.fancybox.pack.js"></script>
<script type="text/javascript" src="js/app.js"></script>
<script type="text/javascript" src="js/ZeroClipboard.js"></script>

<script type="text/javascript">
    $(function () {
        var chnSel = $('#CH');
        ZeroClipboard.config({swfPath: SITE_PUBLIC + "wxb/script/ZeroClipboard.swf"});
        var client = new ZeroClipboard(document.getElementById("copyButton"));
        client.on('ready', function (event) {
            client.on('copy', function (event) {
                var link = $('#linkUrl').val();
                event.clipboardData.setData('text/html', link);
                event.clipboardData.setData('text/plain', link);
            });
            client.on('aftercopy', function (event) {
                toastr.success('复制成功', '');
            });
        });

        chnSel.change(function () {
            var val = $(this).find("option:selected").attr('rev');
            var link = $('#linkUrl').attr('data-link');
            $('#linkUrl').val("http://115.29.207.161:8080/buy/0/" + val);
            //更新二维码
            var url = '/index/barcode?qtext=http://115.29.207.161:8080/buy/0/' + val;
            $('#wlinkCode').attr('src', url + '&t=' + new Date().getTime());
        });

        $('#addChn').click(function () {
            var addBtn = $('#acName');
            var acName = $('#acName');
            var name = acName.val();
            if (name == '') {
                toastr.error('渠道名称不能为空！', '提示');
                acName.focus();
            } else {
                var loading = App.showLoading(addBtn);
                $.ajax({
                    url: 'http://115.29.207.161:8080/channel/save',
                    type: 'post',
                    data: {name: name},
                    dataType: 'text',
                    success: function (response) {
                        var suc = response.split("#")[0];
                        var msg = response.split("#")[1];
                        loading.revert();
                        if (suc == 0) {
                            acName.val('');
                            getNewRev(msg, function (data) {
                                toastr.success('', '新增渠道成功！');
                                chnSel.append('<option value="' + msg + '" rev="' + data + '">' + name + '</option>');
                            });
                        } else {
                            toastr.error(msg, '新增渠道失败！');
                        }
                    },
                    error: function () {
                        loading.revert();
                    }
                });
            }
        });
    });

    function getNewRev(id, callback) {
        $.ajax({
            url: 'http://115.29.207.161:8080/goods/buykey',
            type: 'get',
            data: {goods_id: 'pb1n3rya', channel_id: id},
            dataType: 'text',
            success: function (response) {
                var suc = response.split("#")[0];
                var msg = response.split("#")[1];
                if (suc == 0) {
                    if (callback) {
                        callback(msg);
                    }
                } else {
                    toastr.error(msg, '获取新渠道参数失败！');
                }
            },
            error: function (response) {
                var suc = response.split("#")[0];
                var msg = response.split("#")[1];
                toastr.error(msg, '获取新渠道参数失败！');
            }
        });
    }
</script>

<script type="text/javascript">
    jQuery(document).ready(function () {
        App.init();
    });
</script>
<script>
    function lorder(url, goodsName, goodsPic1, skuPrice) {
        $("#content").load("toOrder?skuId=" + url + "&goodsName=" + goodsName + "&goodsPic1=" + goodsPic1 + "&skuPrice=" + skuPrice)
    }
</script>
<div id="topcontrol" title="返回顶部" style="position: fixed; bottom: 110px; right: 10px; opacity: 0; cursor: pointer;">
    <div class="back-to-top"></div>
</div>
</body>
</html>